html {
  font-size: 18pt;
  font-family: 'Lato', sans-serif;
  overscroll-behavior: none;
}

button {
  font-family: inherit;
}

body {
  overscroll-behavior: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}